@model IEnumerable<NordicDoorTestingrep.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Ansatte</h1>

<p>
    <a asp-action="Create">Legg til ny ansatt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Endre</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Mer info</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Slett</a>
            </td>
        </tr>
}
    </tbody>
</table>
