@model NordicDoorTestingrep.Models.Suggestion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Suggestion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SugName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SugName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SugDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SugDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SugCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SugCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JDISug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JDISug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.progress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.progress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SugStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SugStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletedOrDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletedOrDueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SugCreator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SugCreator.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibleEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibleEmployee.EmpName)
        </dd>
        <!--<dt class="col-sm-2">
            Html.DisplayNameFor(model => model.Attachments)
        </dt>
        <dd class ="col-sm-10">
            Html.DisplayFor(model => model.Attachments)  -->
           
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SuggestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
